<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>The url sent is <%=url%></h1>
    <h2>
      Here is your shortened url <a href="<%=shortened%>"><%=shortened%></a>
    </h2>
  </body>
</html>
